<!DOCTYPE html>
<html lang="ja">

<body>

    {% extends "layout.html" %}
    {% block content %}

    <div class="home">
        <h1>nanaアップロード用音源変換サイト</h1>
        <p>PC版nanaのアップロードに対応した形式の音源に変換します。</p>

    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="file-upload">
                <input type="file" id="file-upload" name="file">
                <i class="fa fa-upload custom-file-upload buttonHover" aria-hidden="true"> ファイルを選択 </i>
            </label>
            <p id="file-upload-type">
                .mp3 .wav .flac .ogg .xm ...
            </p>

        </div>
        <div id="infoDiv" class="preview">
            <p id=>ファイルが選択されていません。</p>
        </div>
        <div>
            <input type="submit" value="変換">
        </div>
    </form>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>
    {% endblock %}


</body>

</html>
