<!DOCTYPE html>
<html lang="ja">

<body>

    {% extends "layout.html" %}
    {% block content %}

    <div class="home">
        <h1>音楽アプリ nana アップロード用変換ツール</h1>
        <p>① nana にアップロードしたいファイル(音源)を選んでください。</p>

    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="file-upload">
                <input type="file" id="file-upload" name="file" accept="audio/*">
                <i class="fa fa-upload custom-file-upload buttonHover" aria-hidden="true"> ファイルを選択 </i>
            </label>
            <p id="file-upload-type">
                .mp3 .wav .flac .ogg .xm ...
            </p>

        </div>
        <div id="infoDiv" class="preview">
            <p id=>※ファイルが選択されていません。</p>
        </div>
        <div>
            <p>② 切り取る範囲を「時間:分:秒」で入力して 変換してください。</p>
        </div>
        <div>
            <label for="start">開始時間：</label>
            <input type="text" id="start" name="start" value="00:00:00" size="8" maxlength="8">
            <label for="over">～ 終了時間：</label>
            <input type="text" id="over" name="over" value="00:00:00" size="8" maxlength="8">
            <input type="submit" value="変換">
        </div>
    </form>
    <div>
        <br>
        <span>作った人 → <a href="https://twitter.com/nagagutsu_af">フクナガ</a></span>
        <span>　nana → <a href="https://nana-music.com/users/262116">フクナガ</a></span>
    </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js.js') }}"></script>
    {% endblock %}


</body>

</html>
